<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Simple Sidebar - Start Bootstrap Template</title>

        <link th:href="@{/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/vendor/bootstrap/bootstrap.min.js}"></script>
    </head>

    <body>

    <div class="header">
        <h1>HEADER</h1>
    </div>

    <!--    실제 개발에서는 다른 내용으로 변경되어야 하는 부분 -->
    <div class="content">
        <!--        <h1>CONTENT</h1>-->
        <th:block th:replace="${content}"></th:block>
    </div>

    <div class="footer">
        <h1>FOOTER</h1>
    </div>

    </body>
</th:block>
</html>